{% extends "blog/base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}Password Reset Email Sent{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/auth.css' %}">
{% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="auth-card">
            <h1>{% trans "Password Reset Email Sent" %}</h1>
            
            <p class="auth-text">
                {% trans "We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes." %}
            </p>

            <div class="auth-help-text">
                <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
                    {% trans "Return to Login" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %} 