{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog Default{% endblock %}</title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>

    <!-- Navigation Bar -->
    <header id="main-navigation">
        <h1><a href="">Kleber's Blog Page</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <!-- Main Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 My Site. All rights reserved.</p>
    </footer>

</body>
</html>
